*{
    margin: 0;
    box-sizing: border-box;
   font-family:  Helvetica Neue,Helvetica,Arial,文泉驛正黑,WenQuanYi Zen Hei,Hiragino Sans GB,儷黑 Pro,LiHei Pro,Heiti TC,微軟正黑體,Microsoft JhengHei UI,Microsoft JhengHei,sans-serif;
}


#header {
    width: 100%;
    height: 60px; 
    background-color: rgb(236, 180, 153);
    z-index: 1;
    display: flex;  
    justify-content: space-between;
    position:fixed;
    padding: 0 10vw;
}

#logo .group-name {
    color:rgb(112, 73, 16);
}

#logo > a{
    text-decoration: none;
}
#logo img{
    height: 36px; 
    margin-top: 2px;
    padding-left: 2px;
} 

.search-box-container { 
    height: 40px; 
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    line-height: 34px;
    border-radius: 20px;
    width: 280px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 10px 10px, rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.search-box-container .search-box {
    border: none; 
    width: 250px; 
    height: 30px; 
    margin-left: 10px;
    margin-top: 5px;
}

.search-box-container .search-btn{
    border-radius: 50%;
    background-color: rgb(223, 166, 104);
    height: 30px; 
    border: none; 
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    position: fixed;
    top: 0;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
}

.search-box {
    outline: none;
    padding-left: 10px;
}

#login{
    line-height: 60px;
}  

#login .login-btn, #login .signin-btn{
    background-color: antiquewhite;
    height: 40px; 
    border-radius: 30px;
    cursor:pointer; 
    padding-right: 10px;
}


.fa-solid{
    padding-right: 5px;
    padding-left: 5px;
}

.fa-xmark{
    float:right;
    margin: 15px 15px 0 0;
    font-size: 25px;
    color:#551f04; 
    cursor: pointer;
}

.fa-xmark:hover {
    transform: scale(1.5);
    transition: 0.5s; 
}


#contain-form{
    z-index: 3;
    height:100vh;
    width:100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    background-color: rgba(202, 199, 199, 0.4);
}


#showform{
    width: 380px;
    height: 480px;
    position: relative;
    background: rgb(236, 180, 153);
    overflow: hidden; 
    transform: translateY(-500px);
    opacity: 0;
    transition: 0.5s;
}

.buttion-box{
    width: 220px;
    margin: auto;
    top: 50px; 
    position: relative;
    box-shadow: 0 0 40px 20px #d047281f;
    border-radius: 30px;
}

.lgn-btn{
    padding: 10px 22px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative; 
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #d6aa89, #d6632a);
    border-radius: 30px; 
    transition: 0.4s;
}

.social-icons{
    margin-top: 80px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.social-icons .fa-brands{
    font-size: 25px;
    margin: 0 10px; 
    color: #551f04; 
    cursor: pointer; 
}

.input-form{
    top: 160px;
    left: 50px;  
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-id{
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.check-box{
    margin-top: 10px; 
    margin-bottom: 10px;
}

.checkbox-text{
    color:rgb(127, 121, 121);
    padding-left: 8px; 
}

.checkbox-text a{
    color:#551f04;
}

.forget-pass{
    display:block; 
    margin: 20px 40px 10px 88px;
    color:#551f04; 
}

.pass-forget{
    margin-left: 50px;
    color:#551f04; 
}

.pass-forget a{
    color:#551f04; 
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 20px;
    background: linear-gradient(to right, #d6aa89, #d6632a);
    outline: none;
    border-radius: 30px;
}

#loginform1{
    left: 50px;
}

#register{
    left: 450px; 
}

/* .main-content{
    width: 100%;
    height: 600px; 
    background-color: #b08976;
} */
footer{
    bottom: 0; 
    height: 200px; 
    background-color: #d97fe2;
}

footer img{
    height: 100px; 
    margin: 50px 50px 20px 50px; 
    position:relative
}